<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>

<a href="">test</a>

<div>
    {% for foo in query %}
        <p>{{ foo.date }}</p>
    {% endfor %}
</div>

<script type="text/javascript">
    $(document).ready(function () {


        $("a").on('click', function (event) {
        event.preventDefault();

            $.get("/ajax/", function (data) {

            });

        });
    });

</script>
</body>
</html>

